{
    "rules": {
        "no-console": 0,
        "indent": 4,
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "es6": true,
        "node": true
    },
    "ecmaFeatures": {
        "modules": true,
        "experimentalObjectRestSpread": true
    },
    "extends": "eslint:recommended"
}
